<div class="row">
    <div class="col-lg-6">
        <h2>Lista de Empleados</h2>
    </div>

    <div class="col-lg-6" style="text-align: right;">
        <button type="button" class="btn btn-success" id="buttonAgregar" style="float: right;" routerLink="/add">Agregar
            Empleado</button>
    </div>
</div>

<mat-form-field appearance="standard">
    <mat-label>Filtro</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Filtro" #input autocomplete="off">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Nombre Completo Column -->
    <ng-container matColumnDef="nombreCompleto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre Completo </th>
        <td mat-cell *matCellDef="let element"> {{element.nombreCompleto}} </td>
    </ng-container>

    <!--Email Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Fecha de Ingreso Column -->
    <ng-container matColumnDef="fechaIngreso">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Ingreso </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaIngreso | date: "dd/MM/yyyy"}} </td>
    </ng-container>

    <!-- Teléfono -->
    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
        <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
    </ng-container>

    <!-- Estado Civil -->
    <ng-container matColumnDef="estadoCivil">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado Civil </th>
        <td mat-cell *matCellDef="let element"> {{element.estadoCivil}} </td>
    </ng-container>

    <!-- Género -->
    <ng-container matColumnDef="genero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Género </th>
        <td mat-cell *matCellDef="let element"> {{element.genero}} </td>
    </ng-container>

    <!-- Iconos -->
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element; let i = index">
            <a class="pointer" routerLink="edit/{{ i }}" style="color: #C2185B;">
                <mat-icon>edit</mat-icon>
            </a>
            <a (click)=eliminarEmpleado(i) class="pointer" style="color: #E15639;">
                <mat-icon>delete</mat-icon>
            </a>

        </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
</mat-paginator>