.box-content {
    margin-top: 8em;
    margin-left: 3em;
}

h2 {
    justify-content: center;
    text-align: center;
    font-size: 58px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #C2185B;
    margin-bottom: 1.5em;
    margin-top: 2em;
}

p.error_code_404 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 26px;
    color: #8b8b8b;
}

p {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 1em;
}

#messager-oops {
    justify-content: space-between;
}

#imagen-oops {
    justify-content: center;
}