<div class="box-content">
    <div class="row">
        <div class="col-lg-6" id="messager-oops">
            <mat-card-content>
                <h2>Oops!</h2>
                <p>We can´t seem to find the page you´re looking for.</p>
                <p class="error_code_404">
                    Error code 404.
                </p>
            </mat-card-content>
            <br>
        </div>

        <div class="col-lg-6" id="imagen-oops">
            <img src="../../../assets/Page Not Found 404.png" alt="">
        </div>
    </div>
</div>