<div class="row">
    <div class="col-lg-6">
        <h2>Agregar Empleado</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <form>
            <!-- Nombre del empleado -->
            <div class="col-lg-12">
                Nombre Completo (INPUT)
            </div>

            <!-- Email -->
            <div class="col-lg-12">
                Email (INPUT)
            </div>

            <!-- Fecha de Ingreso -->
            <div class="col-lg-12">
                Fecha de ingreso (DATEPICKER)
            </div>

            <!-- Teléfono -->
            <div class="col-lg-12">
                Teléfono (INPUT)
            </div>

            <!-- Estado Civil -->
            <div class="col-lg-12">
                Estado civil(Select)
            </div>

            <!-- Genero -->
            <div class="col-lg-12">
                Genero(Radio Button)
            </div>

            <div class="col-lg-12">
                Aceptar y Cancelar (Button)
            </div>
        </form>
    </div>

    <div class="col-lg-4 offset-lg-2">
        <img src="../../../assets/img/crear-usuario.jpg" width="95%" height="95%">
    </div>
</div>